#body {
  background: linear-gradient(to bottom,  #b3c4ff 1%,#e5ebff 50%);
}
#para1 {
  color: #9900FF;
  font-size: 50px;
}
#division2 {
  background: #001766;
  cursor: pointer;
  float: left;
}
.visible {
  display: inline;
}
#navigation {
  list-style-type: none;
  padding: 20px;
}
#navigation1 {
  text-align: center;
}
a {
  color: white;
}
a:hover {
  background: red;
  color: black;
}
.text {
  display: none;
  margin: 0 2px 0 0;
}
#home {
  color: white;
}
#user {
  color: white;
}
span:hover ~ a {
  display: block;
  display: inline;
  transition: width 4s;
}
#homepage {
  background: red;
  color: blue;
  display: none;
  font-size: 20px;
}
